<!DOCTYPE html>
<html>
  	<head>
  	</head>
  	<body>

	  	Hi there! I'm <%= @name %>.

	  	<form method='post' action='/user'>
	  		<input type='text' name='username'>
	  		<input type='submit' value='Done'>
	  	</form>

  	</body>
</html>